---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Journal App. - Guarda las memorias de tus viajes",
    description:
      "Guarda fotos y descripciones de todos tus viaje.",
    link: "https://journal-mu-sage.vercel.app/",                                                  
    github: "https://github.com/ManuelAlejandro93/journal",
    image: "/projects/JournalApp.webp",
    tags: [TAGS.TAILWIND],
  },
  {
    title: "Comic Hero Apps - Conoce tus super heroes favoritos.",
    description:
      "Biblioteca de los superheroes más populares. Creada y testeada desde cero con React, React Router, Shadcn/Ui y Tailwind CSS, Testing Library y Jest.",
    link: "https://comic-heroes-app.vercel.app/",
    github: "https://github.com/ManuelAlejandro93/comic-heroes-app",
    image: "/projects/HeroesPage.webp",
    tags: [ TAGS.TAILWIND],
  },
  {
    title: "Book it - Reserva los mejores hoteles a los mejores precios.",
    description:
      "Plataforma para la busqueda y filtrado de habitaciones de hotel por precios, calificación, camas, fechas de reservas y paises. ",
    link: "https://reto4-hotels.vercel.app/",
    image: "/projects/HotelsPage.webp",
    github: "https://github.com/ManuelAlejandro93/Reto4_Hotels",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Libreria personal de componentes headless - optimiza tu trabajo con componentes de React responsivos y accesibles.",
    description:
      "Plataforma abierta para la busqueda y seleccion de componentes React para la creacion de páginas web modernas y accesibles. ",
    link: "https://headless-components-on-ts-u7ki.vercel.app/Pages/sheet",
    image: "/projects/UIComponentsPage.webp",
    github: "https://github.com/ManuelAlejandro93/headlessComponentsOnTS",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Swipe - Landing Page.",
    description:
      "Landing page para E-commerce en general. ",
    link: "https://manuelalejandro93.github.io/Page-Swipe_1/",
    image: "/projects/SwipePage.webp",
    github: "https://github.com/ManuelAlejandro93/Page-Swipe_1",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "GifPage - Busca tus personajes favoritos.",
    description:
      "Página para buscar gifs de todas las formas y colores. Incluye full testing",
    link: "https://gif-expert-testing-k18s.vercel.app/",
    image: "/projects/GifPage.webp",
    github: "https://github.com/ManuelAlejandro93/GifExpert-Testing",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: "Todo app - Organiza tus tareas de manera dinámica.",
    description:
      "Página de lista de checkeo para mantener tu mente y trabajo ordenado. + full testing de ella en JEST y Testing library.",
    link: "https://todo-app-react-ts-topaz.vercel.app/",
    image: "/projects/ToDoAppPage.webp",
    github: "https://github.com/ManuelAlejandro93/todo-App-React-Ts",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



